{{#if addNewAnswer}}
  <h1>New Answer</h1>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="author">Your Name</label>
          {{input value=author id="author" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="response">Your Answer</label>
          {{input value=response id="response" class="form-control"}}
        </div>

        <button class="waves-effect waves-green btn saveNewAnswer"{{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="waves-effect waves-green btn newAnswerForm"{{action 'answerFormShow'}}>New Answer</button>
{{/if}}
