<div class="col-sm-4">
  <h4>{{question.book}}</h4>
  <h5>"{{question.question}}"</h5>
  <hr>
  <h6>Posted By: {{question.author}}</h6>
  {{update-question question=question update="update"}}
  <button class="waves-effect waves-light btn"{{action 'delete' question}}>DELETE</button>
</div>
