{{#if updateQuestionForm}}
  <h3>Edit this Question</h3>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="book">Novel</label>
          {{input value=question.book id="book" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="question">Question</label>
          {{input value=userQuestion id="question" class="form-control" placeholder=question.question}}
        </div>

        <div class="form-group">
          <label for="author">Your Name</label>
          {{input value=question.author id="author" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="message">Add further details</label>
          {{input value=question.message id="message" class="form-control"}}
        </div>

        <button class="waves-effect waves-light btn"{{action 'update' question}}>UPDATE</button>
      </form>
    </div>
{{else}}
    <button class="waves-effect waves-light btn"{{action 'updateQuestionForm'}}>Edit</button>
{{/if}}
