<div class="container">
  <br>
  <h5>Q: {{model.question}}</h5>
  <p>Posted By: {{model.author}}</p>
  <h6>{{model.message}}</h6>
  <br>
  <br>
  {{new-answer question=model save2="save3"}}
  <br>
  <br>


  <div class="answers">
    <h5>Answers:</h5>
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </div>
  <br>


</div>
